body {
    font-family: "Segoe Script MT Bold", cursive;
    background-color: greenyellow;
    background-size: 40%;
    background-image: Url("./flowerGrass.png");
}

td {
    border: solid black 2pt;
    border-radius: 20px;
    padding: 15px;
}

.uml-figure {
    width: 500px;
    height: 375px;
}

.billboard {
    background-color: limegreen;
    padding: 2%;
    border: solid black 1pt;
    border-radius: 30px;
}